* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.block_404 {
  width: 1000px;
  height: 100%;
  background-color: #E4E2E5;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 898px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Heebo", sans-serif;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

nav {
  background-color: #ffffff;
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 27px 60px;
}

.fixed__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 111;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  margin-top: -10px;
  height: 68px;
  -webkit-box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.body_scroll {
  padding-top: 86px;
}

.logo a {
  color: black;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-left: 25px;
}

.menu__item-link {
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.menu__item-link:hover {
  color: #FF6464;
}

.menu__item-link-active {
  color: #FF6464;
}

.burger {
  display: none;
  cursor: pointer;
}

.header__section {
  margin-top: 140px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.header__text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
}

.header__text p {
  padding-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
}

.header__text a {
  display: inline-block;
  margin-top: 38px;
  color: white;
  background-color: #FF6464;
  padding: 11px 18px;
  border: 2px solid #FF6464;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__text a:hover {
  background-color: #ffffff;
  color: #FF6464;
}

.posts__section {
  margin-top: 71px;
  background-color: #EDF7FA;
}

.posts__row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts__row-top span {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
}

.posts__row-top a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #00A8CC;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.posts__row-top a:hover {
  border-bottom: 1px solid #00A8CC;
}

.posts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.72%;
          flex: 0 1 48.72%;
  background-color: #fff;
  padding: 24px 23px;
  -webkit-box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  margin-bottom: 32px;
}

.posts__item h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  padding-bottom: 17px;
  color: #21243D;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.posts__item h2:hover {
  color: #FF6464;
}

.posts__item span {
  color: #21243D;
}

.posts__item .posts__date {
  padding-right: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.posts__item .posts__theme {
  padding-left: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.posts__item p {
  padding-top: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
}

.featuredworks__section {
  margin-top: 15px;
}

.featuredworks__header h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
}

.featuredworks__header h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
  padding-bottom: 20px;
}

.featuredworks__item {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.67%;
          flex: 0 0 28.67%;
}

.item__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 69.23%;
          flex: 0 1 69.23%;
  margin-left: 20px;
}

.item__content a {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
  display: inline-block;
  margin-top: -7px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.item__content a:hover {
  color: #FF6464;
}

.item__content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
  padding-top: 20px;
}

.item__info {
  margin-top: 20px;
}

.item__info span:first-child {
  background-color: #142850;
  border-radius: 16px;
  color: white;
  padding: 1px 6px;
}

.item__info span:last-child {
  padding-left: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}

footer {
  margin-top: 68px;
}

.footer__row {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__row a {
  margin: 0 -280px;
}

.footer__text {
  margin-top: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243D;
  margin-bottom: 55px;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 810px) {
  .footer__row a {
    margin: 0 -220px;
  }
}

@media (max-width: 784px) {
  .posts__item .posts__date {
    padding-right: 5px;
  }

  .posts__item .posts__theme {
    padding-left: 5px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 725px) {
  .footer__row a {
    margin: 0 -150px;
  }
}

@media (max-width: 717px) {
  .featuredworks__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item__img img {
    width: 339px;
  }

  .item__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 96.23%;
            flex: 0 1 96.23%;
    margin-left: 0;
    margin-top: 17px;
  }
}

@media (max-width: 700px) {
  .posts__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .posts__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 95%;
            flex: 1 1 95%;
  }
}

@media (max-width: 600px) {
  .footer__row a {
    margin: 0 -60px;
  }
}

@media (max-width: 570.98px) {
  .navbar {
    padding: 27px 20px;
  }

  .header__section {
    margin-top: 40px;
  }

  .header__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .fixed__nav {
    height: 63px;
  }

  .menu__item {
    margin-left: 0;
  }
}

@media screen and (max-width: 479.98px) {
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: "white";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: "white";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: "black";
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: "black";
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 15px;
  }

  .menu__item-link {
    color: white;
  }
}

@media (max-width: 438px) {
  .footer__row a {
    margin: 0 -20px;
  }
}

@media (max-width: 426px) {
  .featuredworks__header {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .featuredworks__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 374px) {
  .item__img img {
    width: 283px;
  }
}